<h1>Within this page are links to all of our internal data. This is for reference only, no naughty usage please</h1>
<br>
<br>
This is the information we have for our customers (Name, City, State, Phone, Email)
<%= link_to "Customer Data", reports_customers_path %><br>
This is the information we have about all the products we sell (Names, Prices, Categories)
<%= link_to "Product Data", reports_products_path %><br>
This is the information we have about all of our sales (Customer Names, products, sale dates, sale prices)
<%= link_to "Sales Data", reports_sales_path %><br>
