<h1>Hello World!
	<%=link_to "How are you?", say_response1_path %>
	<!--<a href="/say/response1">How are you?</a> -->
</h1>
<p>The date/time is now <%= @time %></p>
<p>Find me in app/views/say/hello.html.erb</p>
