<h1>I'm doing peachy, just peachy! Thanks.
	<%=link_to "(Press here to greet again)", say_hello_path %>
	<!--<a href="/say/hello">(Press here to greet again)</a>-->
</h1>
<p>Find me in app/views/say/response2.html.erb</p>
