<%=stylesheet_link_tag 'baseStyle.css' %>

<p>Contact us at contact@vgswap.xyz</p>
<form>
  <input type="text" name="subject" placeholder="Subject">
  <input type="text" name="message" placeholder="Your message">
  <input type="text" name="name" placeholder="Your name">
  <input type="text" name="email" placeholder="Your E-Mail address">
  <input type="submit">
</form>