<p>
  For any issues that may arrise, please fill out a support ticket here:<br>
  you may also directly email support@vgswap.xyz
</p>
<form>
  <select>
    <option value="billing">Billing</option>
    <option value="payout">Payout</option>
    <option value="siteIssues">Site Issues</option>
    <option value="feedback">Feedback</option>
    <option value="itemDelivery">Delivery</option>
  </select>
  <input type="text" name="subject" placeholder="Subject">
  <input type="text" name="message" placeholder="Your Issue (Please be specific!)">
  <input type="text" name="name" placeholder="Your name">
  <input type="text" name="email" placeholder="Your E-Mail address">
  <input type="submit">
</form>