<%= stylesheet_link_tag 'baseStyle.css' %>
<div id="mainContent">
  <p>Our main inventory</p>
  <ul>
    <li>CS:GO
      <ul>
        <li>Rifles</li>
        <li>SMG</li>
        <li>Pistol</li>
        <li>Heavy Weapons</li>
        <li>Knives</li>
        <li>other</li>
      </ul>
    </li>
    <li>Rocket League
      <ul>
        <li>Body</li>
        <li>Wheels</li>
        <li>Decals</li>
        <li>Toppers</li>
        <li>Paint Finish</li>
        <li>Boost</li>
      </ul>
    </li>

  </ul>
</div>
