<h2>Search for our product here:</h2><br>

<form>
  Game:
  <select>
    <option value="CSGO">CS:GO</option>
    <option value="RL">Rocket League</option>
  </select>
  Item name:
  <input type="text" name="item" placeholder="Item Name">
  <button type="submit">Search!</button>
</form>
