<h1>Within this page are links to all of our internal data. This is for reference only, no naughty usage please</h1>
<br>
<br>
This is the information we have for our customers (Username, Hashed Password, Email, Balance, SteamID)
<%= link_to "User Data", reports_users_path %><br>
This is the information we have about all the products we sell (Games, Item Names, Prices, Trade Values)
<%= link_to "Product Data", reports_products_path %><br>

