<h1>Welcome to Student Catalog</h1>
<%=link_to "Home", home_index_path %><br>
<%=link_to "About Us", home_about_path%><br>
<%=link_to "Contact Us", home_contact_path %><br>
<p>The date/time is now <%= @time %></p>
<button name="submit" value="submit">Submit</button>